<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent">Animater une fois</button>
  <button mat-raised-button color="accent">Animater en boucle</button>
  <div class="square" style="background-color: red;"></div>

  <div class="square" style="background-color: green;"></div>

  <div class="square" style="background-color: blue;"></div>
</div>
<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent">Rotate</button>
  <div class="square" style="background-color:orange;"></div>
</div>
